* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 150px;
}

.grid {
    background-color: #abb;
    display: grid;
    place-items: center;     /* Centraliza horizontal e vertical */
    height: 150px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas iguais */
    gap: 10px;
}

.dois {
    background-color: #ace;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.colunas-3 {
    background-color: #acf;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tres {
    margin: .25rem;
    background-color: #abd;
}