/* Resetar CSS do meu projeto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #222;
  background: #fff;
  margin: 0;
}

/* Header, Footer e Grid centralizados */
header, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

/* Navegação com Flexbox */
nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

/* Imagem dentro do main */
main img {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: 20rem 1fr;
  align-items: start;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  color: #333;
  text-align: center;
}

aside img {
  width: 250px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 50px;
  left: 120px;
}

/* Footer */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Borda inferior no título */
h1 {
  border-bottom: 2px solid #000;
}

/* Seletores de Classe */
.caixa {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem;
  background-color: #ddd;
}

.indentacao {
  padding-left: 2rem;
}